@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body
{
    background-image: url(../Img/bg.png);
    overflow-x: hidden;
}

.nColor
{
    color: goldenrod;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#f1b8da;
	font-size:20px;
	color:#000;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}